<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="main_body"> {{>header}}

        <img class="photSize" src="/img/pic-1.jpg" alt="lady picture">
        <p>Photo taken by <a href="www.github.com/johnmerga">{{name}}</a></p>
        <p>position: <strong>{{type}}</strong></p>

    </div>
    {{>footer}}


</body>

</html>