<footer>


    <div class="center">
        <p>Developed by : <a class="linkStyle" href="www.github.com/johnmerga" target="_blank"> @john_merga</a> ,<a
                class="linkStyle" href="www.github.com/Minte">@Minte</a> </p>
    </div>

</footer>